@import url('variables.css');

/* Animation typewriter */
.typewriter {
    font-size: 2.5em;
    margin: 20px 0 0;
    overflow: hidden;
    border-right: .15em solid var(--accent-color); /* Utilise la variable pour la couleur d'accent */
    white-space: nowrap;
    letter-spacing: .15em;
    display: inline-block;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
    color: var(--accent-color); /* Utilise la variable pour la couleur d'accent */
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--accent-color) } /* Utilise la variable pour la couleur d'accent */
}

/* Animation de la flèche de défilement */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: rotate(-45deg) translateY(0);
    }
    40% {
        transform: rotate(-45deg) translateY(10px);
    }
    60% {
        transform: rotate(-45deg) translateY(5px);
    }
}